<div class="container">
  <h1>My Budget App</h1>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn__sign-up" %>
  <% else %>
  <div class="box">
    <%= link_to "Sign in", new_user_session_path, class: "btn btn__sign-in" %><br>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn__sign-up" %>
    </div>
  <% end %>

</div>
